td {
  color: white !important;
}

th {
  color: white !important;
}

p {
  color: white !important;
}

div {
  color: white !important;
}

.Mui-active {
  color: white !important;
}

.MuiTableSortLabel-icon {
  color: white !important;
}

.MuiSvgIcon-root {
  color: white !important;
}